// Fonts
@import 'https://fonts.googleapis.com/css?family=Rubik:300,400,700';
@import 'https://fonts.googleapis.com/css?family=Montserrat';


// General font related styling
html {
  font-size: 100%;
}

h1,h2,h3,h4 {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
}

p, a, label, button, input {
  font-family: 'Montserrat', sans-serif;
}

.heart {
  color: $brand-danger;
}
