.menu {
  color: white;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.navbar-default{
  background:transparent;
  background-image:none;
  border-color:transparent;
  box-shadow:none;
}
