
.palette {
  background-color: white;
  @include palette-box-shadow;
  width: 100%;
  margin-top: 20px;
  border-bottom-left-radius: $border-radius-base;
  border-bottom-right-radius: $border-radius-base;

  &:last-child {
    margin-bottom: 20px;
  }

}

.palette-colors {
  display: flex;

  .box {
    flex: 1;
    height: 7em;
    width: 25%;
  }
}

.palette-info {
  padding: 1.2rem;
}

.color-texts {
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    font-size: 0.7rem;
    width: 100%;
    text-align: center;
    transition: all .5s ease-in-out;
    &:hover, .box:hover {
      transform: scale(1.7);
    }
  }
}
