/*
* Colours
*/
$primary-color: #78e3ed;
$brand-info: #a5dff9;
$brand-danger: #ef5285;
$brand-success: #60c5ba;
$brand-warning: #feee7d;


/*
* Components
*/
$border-radius-base: 7px;




/*
* Navigation bar variables
*/
$navbar-height: 60px;
$navbar-margin-bottom: 0px;
$navbar-border-radius: 0px;
$navbar-default-border: none;
$navbar-default-link-color: white;
$navbar-default-link-hover-color: darken(white, 5%);
$navbar-default-toggle-hover-bg    : none;
$navbar-default-toggle-icon-bar-bg : white;
$navbar-default-toggle-border-color: none;

/*
* Links
*/
$link-color: $primary-color;
$link-hover-color: darken($primary-color, 10%);
$link-hover-decoration: none;


/*
* Buttons
*/
$btn-border-radius-base: 7px;
