.avatar {
  border-radius: 50%;
}

.avatar-sm {
  height: 35px;
  width: 35px;
}

.avatar-lg {
  height: 10rem;
  width: 10rem;

  @media (min-width: $screen-md) {
    height: 12rem;
    width: 12rem;
  }

  @media (min-width: $screen-lg) {
    height: 14rem;
    width: 14rem;
  }

}

.avatar-border {
  border: 4px solid white;

}
