
.palette {
  background-color: white;
  @include palette-box-shadow(2px);
  width: 100%;
  margin-top: 20px;
  border-radius: $border-radius-base;
  transition: all 0.5s ease;

  &:last-child {
    margin-bottom: 20px;
  }

  &:hover {
      @include palette-box-shadow(4px);
  }

}

.palette-colors {
  display: flex;

  .box {
    flex: 1;
    height: 7em;
    width: 25%;
    &:first-child {
      border-top-left-radius: $border-radius-base;
    }
    &:last-child {
      border-top-right-radius: $border-radius-base;
    }
  }
}

.palette-info {
  padding: 1.2rem;

  .palette-time {
    font-size: 0.75rem;
  }
}

// Style for edit and delete buttons
.action-icons {

  a {
    font-size: 1.15em;
    color: gray;

    &:hover {
      color: $primary-color;
    }
    // give them some breathing room by giving last child some margin-left
    &:last-child {
      margin-left: 1.2em;
    }

  }

}

.color-texts {
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    font-size: 0.8rem;
    width: 100%;
    text-align: center;
    transition: all .5s ease-in-out;
    &:hover, .box:hover {
      transform: scale(1.4);
    }
  }
}
